input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#submit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

#submit:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;

  padding: 20px;
}
::ng-deep .err {
  background-color: rgb(219, 38, 38);
  color: white;
}
::ng-deep .success {
  background-color: rgb(38, 219, 98);
  color: rgb(15, 14, 14);
}
