<div>
  <mat-toolbar class="navbar-fixed-top">
    <button mat-button [routerLink]="'/chat'">
      <mat-icon id="icon" mat-list-icon
        ><span class="material-icons"> arrow_back </span>
      </mat-icon>
    </button>
  </mat-toolbar>
</div>

<!-- right -->
<div class="box" *ngIf="!load">
  <mat-spinner style="margin-left: 50%"></mat-spinner>
</div>
<div class="box" *ngIf="load">
  <div class="card" *ngFor="let message of messages | async">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon id="icon1" mat-list-icon>chat</mat-icon>
        </div>
        <mat-card-title
          style="text-transform: uppercase; color: black; font-size: 10px"
          >{{ message.user }}</mat-card-title
        >
        <mat-card-subtitle
          style="
            text-transform: capitalize;
            color: black;
            font-size: 16px;
            font-weight: 600;
          "
          >{{ message.text }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <p style="color: black; text-align: center">{{ message.time }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- left -->

<div class="message-editor">
  <mat-form-field class="message-editor-field">
    <input
      [(ngModel)]="newMessage"
      matInput
      placeholder="Message the group"
      autocomplete="off"
      (keyup.enter)="send()"
    />
  </mat-form-field>
</div>
